# Telegram Dev Bot
TELEGRAM_BOT_TOKEN=your_test_bot_token_here

# Google Gemini AI
GEMINI_API_KEY=your_gemini_api_key_here

# Database Configuration (PostgreSQL)
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=notion_finance_dev
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/notion_finance_dev

# Security Configuration
FERNET_KEY=your_fernet_key

# Notion OAuth 2.0
NOTION_CLIENT_ID=your_test_notion_client_id_here
NOTION_CLIENT_SECRET=your_test_notion_client_secret_here
NOTION_REDIRECT_URI=https://unstandardizable-roxane-unvitalized.ngrok-free.dev/notion-oauth-callback

# 6. AWS S3
AWS_REGION=your_aws_region
AWS_S3_BUCKET_NAME=your_s3_bucket_name_dev_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here

# Local Server Settings
DOMAIN_NAME=unstandardizable-roxane-unvitalized.ngrok-free.dev
PORT=8080
