# Environment
.env
.env.dev

# Python
__pycache__/
.venv/
.pytest_cache

# IDE
.idea/
.vscode/

# For antigravity
# Use your own skills that can help you
.agents/
skills-lock.json

# SSL certificates (if any)
*.pem
*.key

# Reports directory
reports_temp/
